.login-container {
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(128,29,230,1) 100%, rgba(145,75,217,1) 100%, rgba(182,94,255,1) 100%);
  color: #ffff;
  }

  

  .image, .title-logo {
    display: inline-block;
  
  }

  .image{
    width: 80px; 
    height: 30px; 
  }

  .title-logo {
    font-size: 45px;
    margin-bottom: 50px;
    color: white;
  }
  
  
  .form-container {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .title {
    font-size: 30px;
      margin: 50px;
      color: white;
  }

label{
    color: white;
    right: 100%;
  
}


  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

input{
    border-radius: 10px;
    height: 30px;
}

  .button-container {
    display: flex;
    justify-content: center;
  }

button{
  background-color: #290caa;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 93%;
  margin-bottom: 20px;
  margin-top: 10px;

}



.crossed-lines {
    width: 400px;
    height: 1px;
  
    background-color: white;
    background-size: 8px 8px;
  }

  .linkregister{
    margin: 75px;
  }




  /*register*/


  





  
  



  