.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 20%,
    #9D3FE7 100%,
    #9D3FE7 100%,
    #9D3FE7 100%
  );
  color: #ffff;
}


.imagenLogoInicio{
  width: 150px;
  margin: 3rem 0rem 2rem 5rem;
}



.form-container {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}

.title {
  font-size: 30px;
  margin-left: 13.5%;
  margin-top: 10px;
  color: white;
}
.btnContainerGoogle{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 37px;
  padding: 10px;
}

.btnContainerGoogle:hover{
  background: #fff;
  color: #000;
}

.iconoGoogle{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
}
.google {
  border-radius: 40px;
  margin: 10px;
  width: 400px;
}

.as {
  width: 400px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

label {
  color: white;
  right: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.form .input-container input {
  border-radius: 10px;
  height: 30px;
  background: #D6D6D6;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btnIniciarSesion {
  background-color: #9D3FE7;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.crossed-lines {
  width: 100%;
  max-width: 420px;
  height: 1px;
  background-color: white;
  background-size: 8px 8px;
}

.linkregister {
  color: #fff;
  margin-left: 14%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.etiquetaVipeRegister{
  color: #9D3FE7;
  text-decoration: none;
}
p {
  margin-left: 20%;
}

/* Estilos adicionales para hacerlo responsive */

@media (max-width: 768px) {

  .google {
    border-radius: 40px;
    margin: 10px;
    width: 93%;
  }
  .as {
    width: 100%;
  }
  
  .title {
    margin-left: 5%;
  }
  
  .linkregister,
  p {
    margin-left: 10%;
  }
}


  





  
  



  