.musicPlayer{
    position: absolute;
    left: 185px;
    width: 83%;
    bottom: 0;
    padding: 5px;
    display: flex;
}

.songImage{
    width: 120px;
    min-width: 120px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

}

.songImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.songAtributos{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.songAtributos .top, .songAtributos .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.songAtributos .top .left,
.songAtributos .top .middle,
.songAtributos .top .right {
  color: grey;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.songAtributos .top .left i,
.songAtributos .top .middle i,
.songAtributos .top .right i {
    margin: 0px 15px;
    font-size: 18px;
}

.songAtributos .top .left .loved {
    color: #801de6;
    filter: drop-shadow(0px 0px 4px #801de6);
}

.songAtributos .top .middle .back i:nth-child(2),
.songAtributos .top .middle .forward i:nth-child(1) {
    color: #9a9a9a !important;
}

.songAtributos .top .middle .plplayPause {
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    color: black;
}

.songAtributos .bottom {
    margin-top: 5px;
    padding: 0px 15px;
}
.songAtributos .bottom .progresBar{
    width: 78%;
    position: relative;
    height: 5px;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

/* Chrome y Safari*/
.songAtributos .bottom .progresBar::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #801de6;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.3s ease;
}

.songAtributos .bottom .progresBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
}

/*firefox*/
.songAtributos .bottom .progresBar::-moz-range-track{
    width: 78%;
    height: 5px;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.songAtributos .bottom .progresBar::-moz-range-progress{
    background: #801de6;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.3s ease;
}

.songAtributos .bottom .progresBar::-moz-range-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.songAtributos .bottom .curretnTime,
.songAtributos .bottom .duration{
    color: #f1f1f1;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .musicPlayer{
      left: 64px;
    }
  
  
  }