.login-container1 {
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(128, 29, 230, 1) 100%,
    rgba(145, 75, 217, 1) 100%,
    rgba(182, 94, 255, 1) 100%
  );
  color: #ffff;
}

.container-vibe1 {
  margin-right: 5%;
}

.image1,
.title-logo1 {
  display: inline-block;
}

.image1 {
  width: 80px;
  height: 30px;
}

.title-logo1 {
  font-size: 45px;
  margin-bottom: 50px;
  color: white;
}

.form-container1 {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title1 {
  font-size: 30px;
  margin-left: 2px;
  color: white;
}

.google-register {
  border-radius: 40px;
  margin: 10px;
}

.ast {
  width: 100%;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

label {
  color: white;
  right: 100%;
}

.email1 {
  color: white;
  right: 100%;
  margin-right: 5%;
}

.password1 {
  color: white;
  right: 100%;
  margin-right: 8%;
}

.input-container1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 100%;
  padding: 5px;
}

.button-container1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  background-color: #290caa;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.crossed-lines1 {
  width: 100%;
  max-width: 520px;
  height: 1px;
  background-color: white;
  background-size: 8px 8px;
}

.linkregister1 {
  margin-left: 20%;
}

.errorRegister {
  margin-left: 20%;
}

/* Estilos adicionales para hacerlo responsive */

@media (max-width: 768px) {
  .ast {
    width: 100%;
  }
  
  .email1 {
    margin-right: 5%;
  }
  
  .password1 {
    margin-right: 5%;
  }
  
  .input-container1 {
    margin: 5px;
  }
  
  button {
    width: 100%;
  }
  
  .crossed-lines1 {
    width: 100%;
  }
  
  .linkregister1,
  .errorRegister {
    margin-left: 13.5%;
  }
}

  
  